body {
    font-family: Arial;
    background: #f4f6f8;
}

.container {
    width: 50%;
    margin: 80px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

#result {
    margin-top: 15px;
    font-size: 18px;
}
